@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #444;
  font-family: "Lato", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
}

::-webkit-scrollbar {
display: none;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
}

table {
  width: 100%;
  border: 4px #f00 solid;
}

th {
  padding: 2rem;
  background-color: goldenrod;
}

td {
    /*border: 1px solid black;*/
    padding: 1rem;
    text-align: center;
}

/**************************************/

.parent {
  border: 1px solid red;
}

@supports (position: sticky) {
  .sticky {
    background-color: #BADA55;
    color: #fff;
    padding: 2em;
    position: sticky;
    text-align: center;
    top: 0; // Threshold is required
  }
}
